{% extends "layouts/main.html" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What is your current email address?</h1>
<form novalidate method="post">
{{ govukInput({
  id: "[emailAddress]",
  name: "[emailAddress]",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  value: data.emailAddress
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>


  
   
   


  
  
  </div>
</div>

{% endblock %}
