{% extends "layouts/main.html" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/code"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Your name</h1>
  

    <form novalidate method="post">
{{ govukInput({
  id: "[firstName]",
  name: "[firstName]",
  autocomplete: "name",
  spellcheck: false,
  label: {
    text: "First name",
    classes: govuk-label--s
  },
  hint: {
    text: "This can be your given name"
  },
  value: data.firstName
}) }}

{{ govukInput({
    id: "[lastName]",
    name: "[lastName]",
    autocomplete: "name",
    spellcheck: false,
    label: {
      text: "Last name",
      classes: govuk-label--s
    },
    hint: {
      text: "This can be your family name"
    },
    value: data.lastName
  }) }}

   


{{ govukButton({
  text: "Continue",
  href: "/country"
}) }}


</form>

  
   
   


  
  
  </div>
</div>

{% endblock %}
