{% extends "layouts/main.html" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">You cannot apply for a busking licence</h1>

    <div class="govuk-inset-text">
        To apply for a busking licence you must be able to play most of the time without making people wince and own an old hat.
      </div>

    <form novalidate method="post">





   





</form>

  
   
   


  
  
  </div>
</div>

{% endblock %}
